carousel-item{
    align-items: center;
}

.carousel{
    margin-top: -240px;
    margin-left: 550px;
    width: 800px;
    padding-bottom: 10px;
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
}