<div class="game">
    <div class="content">
        <div class="main-information">
            <ul>
                <li>
                    <div class="graph">
                        <h4 class="requirements">JSON FORMAT</h4>
                        <P>
                            [ <br>
                                "type": "Jogo", <br>
                                "name": "EA SPORTS™ FIFA 23", <br>
                                "genre": "Esporte", <br>
                                "initialPrice": 299, <br>
                                "discount_Percentage": 0, <br>
                                "finalPrice": 299, <br>
                                "screenshotPath": "https://cdn.cloudflare.steamstatic.com/steam/apps/1811260/header.jpg?t=1667386102", <br>
                                "id": "5a8cff03-8408-4472-b6a6-baeba846637a" <br>
                            ]
                        </P>
                    </div>
                </li>
                <li class="game-image"><img src="http://localhost:4200/assets/Images/Fifa_23.jpg" height="350px"></li>
            </ul>
            <h3 class="game-name">Fifa 2023</h3>
        </div>

        <div class="stores">
            <div class="store-card btn btn-primary">
                <h4>Comprar</h4>
                    <img class="buy-logo" src="assets\Images\Steam logo.png" height="40px" alt="steam">
            </div>
            <div class="store-card btn btn-primary">
                <h4>Comprar</h4>
                    <img class="buy-logo" src="assets\Images\Steam logo.png" height="40px" alt="steam">
            </div>
        </div>
    </div>
</div>

<app-botton-info></app-botton-info>

