.banner{
    background-image: url(src\assets\Images\Fundo.jpg);
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 410px 0 #111A24;
}

.name{
    margin-bottom: 240px;
    border-right: 2px solid white;
    color: aliceblue;
    font-family: 'Audiowide', cursive;
    font-size: 5em;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation{
    animation: blinkCursor 700ms steps(20) infinite normal, typing 2.0s steps(20)  1s normal;
}

.credits{
    color: white;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 5.6em;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}