
.nav-item{
    padding: 10px;
}

.nav-options{
    margin-left: 425px;
}

.logo{
    margin-left: 10px;
}

.search-nav{
    margin-right: 635px; 
    padding-right: 10px;
    background: #263241;
    height: 50px;
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: none;
}

.search{
    padding-right: 10px;
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    color: white;
    width: 190px;
    font-size: 16px;
    line-height: 40px;
}

.navbar{
    box-shadow: 6px 5px 6px black;
}