<div class="menu">
  <nav class="navbar navbar-expand-lg navbar-dark bg-#151D27 navegation-bar">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="">
        <img src="assets\Images\Logo Db.png" width="160px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-options" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-list">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features"><i class="bi bi-gear"></i> Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pricing"><i class="bi bi-ticket-perforated"></i> Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="search-nav">
      <input type="search" class="search" placeholder="Pesquisar">
        <a href="" class="search-btn">
          <i class="bi bi-search"></i>
        </a>
    </div>
  </nav>
</div>