ul{
    display: flex;
    padding-left: 108px;
    margin: 40px;
}

li{
    margin-right: 40px;
}

h3{
    margin-top: 45px;
    margin-left: 147px;
    color: white;
}

.trending-list{
    margin-left: 10.5%;
    margin-right: 10%;
}