<div class="trending-list">
    <h3>
        Melhores promoções
        <button (click)="GetGamesList()" class="btn btn-primary ver-mais-btn">Ver mais</button>
    </h3>
    <ul>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
    </ul>

    <h3>
        Mais vendidos
        <button class="btn btn-primary ver-mais-btn">Ver mais</button>
    </h3>

    <ul>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
    </ul>

    <h3>
        Lançamentos
        <button class="btn btn-primary ver-mais-btn">Ver mais</button>
    </h3>

    <ul>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
    </ul>
</div>