<div class="trending-list">
    <h3>
        Melhores promoções
        <button class="btn btn-primary ver-mais-btn">Ver mais</button>
    </h3>
    <ul>
        <li *ngFor="let jogo of games.slice(0, 5)">
            <app-game-card [game]="games" [jogo]="jogo"></app-game-card>
        </li>
    </ul>

    <h3>
        Mais vendidos
        <button class="btn btn-primary ver-mais-btn">Ver mais</button>
    </h3>

    <ul>
        <li *ngFor="let jogo of games.slice(6, 11)">
            <app-top-sales [game]="games" [jogo]="jogo"></app-top-sales>
        </li>
    </ul>

    <h3>
        Lançamentos
        <button class="btn btn-primary ver-mais-btn">Ver mais</button>
    </h3>

    <ul>
        <li *ngFor="let jogo of games.slice(11, 17)">
            <app-releases [game]="games" [jogo]="jogo"></app-releases>
        </li>
    </ul>
</div>