<div class="trending-list">
    <h3>Melhores promoções</h3>
    <ul>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
    </ul>

    <h3>Mais vendidos</h3>

    <ul>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
    </ul>

    <h3>Lançamentos</h3>

    <ul>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
        <li><app-game-card></app-game-card></li>
    </ul>
</div>